<div class="contact-box">
    <div class="add-contact">
        <div class="title">
            <h2>Add new contact</h2>
        </div>
        <div class="add-contact-form">
            <form action="/add-contact" method="post" id="add-contact-form">
                <input type="number" placeholder="Public ID" name="publicID" id="publicID"><br>
            </form>
            <div class="add-contact-button-box">
                <button onclick="javascript:AddContact();">Add</button>
            </div>
        </div>
    </div>
</div>