<div class="sidebar">
    <div class="profile-box">
        <a href="/profile">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQosM3prtK4UTYRUANfeEHS9hRQFfql4Qj-lEDyWnNkBw&s=10" alt="Profile Image" class="profile-image">
            <pre class="username">{{ user.name }}    Public ID: {{ user.id }}</pre>
        </a>
    </div>
    <div class="add-new-contact-box">
        <button class="add-new-contact" onclick="javascript:showAndHideContactBox();">Add new contact</button>
    </div>
    <div style="padding: 30px;"></div>
    {% for chat in user.chats.chats %}
        <div class="box">
            <button onclick="javascript:StartChat('{{ chat.username }}', '{{ chat.id }}')" class="chat-button">{{ chat.username }}</button>
        </div>
    {% endfor %}
</div>