<header>
    <div class="header-right">
        <div>
            <img src="/static/image/logo.png" alt="A-Message Logo" class="header-image" title="A-Message">
        </div>
        <div>
            <h1 class="title">پیام رسان <span class="en">A Message</span></h1>
        </div>
    </div>
    <div class="header-left">
        {% if not session.login %}
            <div class="profile-url">
                <a href="/login">
                    <img src="{{ session.profileImage }}" alt="anon-image">
                </a>
            </div>
        {% else %}
            <div class="profile-url">
                <a href="/profile">
                    <img src="{{ session.profileImage }}" alt="anon-image">
                </a>
                <div class="profile-desc">
                    <p style="direction: ltr !important; cursor: pointer;" onclick="copy('{{ session.profile.username }}');" title="کپی کردن آی دی">@{{ session.profile.username }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</header>